<a class="btn btn-default" href="?data_source=<#DATA_SOURCE#>&view_mode=say&id=1&tab=">Рассказать анекдот</a>
<br>
<a class="btn btn-default" href="?data_source=<#DATA_SOURCE#>&view_mode=say&id=2&tab=">Рассказать рассказ</a>
<br>
<a class="btn btn-default" href="?data_source=<#DATA_SOURCE#>&view_mode=say&id=3&tab=">Рассказать стишок</a><br>
<a class="btn btn-default" href="?data_source=<#DATA_SOURCE#>&view_mode=say&id=4&tab=">Рассказать афоризм</a><br>
<a class="btn btn-default" href="?data_source=<#DATA_SOURCE#>&view_mode=say&id=5&tab=">Рассказать цитату</a><br>
<a class="btn btn-default" href="?data_source=<#DATA_SOURCE#>&view_mode=say&id=6&tab=">Рассказать тост</a><br>
<a class="btn btn-default" href="?data_source=<#DATA_SOURCE#>&view_mode=say&id=11&tab=">Рассказать анекдот 18+</a><br>
<a class="btn btn-default" href="?data_source=<#DATA_SOURCE#>&view_mode=say&id=12&tab=">Рассказать рассказ 18+</a><br>
<a class="btn btn-default" href="?data_source=<#DATA_SOURCE#>&view_mode=say&id=13&tab=">Рассказать стишок 18+</a><br>
<a class="btn btn-default" href="?data_source=<#DATA_SOURCE#>&view_mode=say&id=14&tab=">Рассказать афоризм 18+</a><br>
<a class="btn btn-default" href="?data_source=<#DATA_SOURCE#>&view_mode=say&id=15&tab=">Рассказать цитату 18+</a> <br>
<a class="btn btn-default" href="?data_source=<#DATA_SOURCE#>&view_mode=say&id=16&tab=">Рассказать поздравления 18+</a>





