<br/>
<div class="panel-group" id="accordion">
	<div class="panel panel-info">
		<div class="panel-heading">
		<a data-toggle="collapse" data-parent="#accordion" href="#sms_help">Информация</a>
		</div>
		<div class="panel-body collapse" id="sms_help">
		Модуль получает шутки, анекдоты с сайта ржунемогу.
			
			</br>     </br>

	
		</div> </div> </div>







<div class="panel-group" id="accordion">
	<div class="panel panel-info">
		<div class="panel-heading">
		<a data-toggle="collapse" data-parent="#accordion" href="#event">Запуск из сценариев</a>
		</div>
		<div class="panel-body collapse" id="event">

Для проговаривания шутки из сцегариев, добавьте следующий код:<br>
<code><b>
include_once(DIR_MODULES . 'sajokes/sajokes.class.php');<br>
$sj = new sayjokes();<br>
$sj->say(номер);</b></code> <br>
<br><br>			
Где номер может быть следующим: <br>
1 - Анекдот;<br>
2 - Рассказы;<br>
3 - Стишки;<br>
4 - Афоризмы;<br>
5 - Цитаты;<br>
6 - Тосты;<br>
8 - Статусы;  <br>
11 - Анекдот (+18);<br>
12 - Рассказы (+18);<br>
13 - Стишки (+18);<br>
14 - Афоризмы (+18);<br>
15 - Цитаты (+18);<br>
16 - поздравления (+18);<br>
18 - Статусы (+18);<br>
	
	</b></code> 			

		</div> </div> </div>



<div class="panel-group" id="accordion">
	<div class="panel panel-info">
		<div class="panel-heading">
		<a data-toggle="collapse" data-parent="#accordion" href="#cont">Контактная информация</a>
		</div>
		<div class="panel-body collapse" id="cont">
		<p><b>
<a href="https://github.com/directman66/majordomo-yandexweather" target="_blank">Ссылка на репозиторий</a><br>
<a href="https://majordomo.smartliving.ru/forum/viewtopic.php?f=5&t=5449#p79567" target="_blank">Тема на форуме</a>.<br></b></br>
		</div> </div> </div>

<div class="panel-group" id="accordion">
	<div class="panel panel-info">
		<div class="panel-heading">
		<a data-toggle="collapse" data-parent="#accordion" href="#bax">Поддержать разработку</a>
		</div>
		<div class="panel-body collapse" id="bax">

[#inc rekv.html#]

		</div> </div> </div>

                                                                                                         
	
</div>


	
</div>

